.header {
	margin: 10px 10px;
	display: flex;
	justify-content: center;

	> * {
		margin-right: 10px;
	}

	&__logo {
		width: 45px;
		height: 40px;
	}

	&__search {
		border: 1px solid $tmdb-color;
		border-radius: 20px;
		padding-inline-start: 20px;
		width: 30%;
	}
}

.search-button {
	> svg {
		fill: $tmdb-color;
		&:hover {
			@include hover-drop-shadow;
		}
	}

	cursor: pointer;
}
