@import "./variables.scss";

// Global styles
html,
body {
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 24px;
	padding: 0;
	margin: 0;
	background-color: #f4f8fb;
	color: $base-color;
}

* {
	box-sizing: border-box;
}
