@import "./mixins.scss";
@import "./variables.scss";
@import "./header.scss";
@import "./navigation.scss";
@import "./404.scss";

// Global styles
html,
body {
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 24px;
	padding: 0;
	margin: 0;
	background-color: $tmdb-background-color;
	color: $base-color;
}

* {
	box-sizing: border-box;
}
